body {
    background-color: #040a08;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

* {
    box-sizing: border-box;
    outline: none;
}

.m1 {
    display: grid;
    grid-template-columns: 1fr;
}

.m1 p {
    font-size: 30px;
    margin: 0;
    color: #ccc;
}

.m1 img{
    margin-bottom: 20px;
}

.m1 p {
    margin-bottom: 5px;
}

main {
    position: relative;
    padding: 40px;
}

.m2 {
    position: relative;
}

#cones {
    position: absolute;
    top: 0;
    right: 0;
    height: 900px;
    z-index: -3;
    margin-top: -152px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
}

.add1 {
    color: #fff;
    font-size: 60px;
    word-break: break-all;
    max-width: 600px;
}

h3 {
    font-size: 60px;
    color: #70f7b6;
    margin: 10px 0;
}

h4 {
    font-size: 30px;
    color: #70f7b6;
}

button, .button {
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #70f7b6;
    background: linear-gradient(#70f7b6,#3fbf81);
    color: #fff;
    font-weight: 500;
    max-width: 200px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    text-align: center;
}

a {
    color: #70f7b6;
    text-decoration: none;
}

.form {
    width: 100%;
    max-width: 700px;
    background-color: #0a0a0a;
    margin: 50px auto;
    padding: 30px 50px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
    border-radius: 20px;
}

.ftitle {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
}

input {
    width: 100%;
    display: block;
    margin: 20px 0;
    padding: 20px 20px 20px 40px;
    border-radius: 10px;
    background: #111111;
    border: 1px solid #111111;
    color: #fff;
    font-size: 19px;
}

.form p {
    text-align: center;
    font-size: 20px;
}

.payments p{
    text-align: left;
    color: #d6d6d6;
}

label {
    font-size: 20px;
}


#username, #addr, #balance {
    text-align: center;
}

#username {
    color: #70f7b6;
    font-size: 40px;
}

#addr {
    margin: 10px 0;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #1b1a1a;
    padding: 9px;
    border-radius: 12px;
}

#balance {
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cont {
    max-width: 800px;
    margin: 0 auto;
}

.det {
    max-width: 500px;
    margin: 0 auto;
}

#actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

#actions button {
    max-width: 100%;
    width: 100%;
}

#trans {
    padding: 30px 10px;
}

#dummy {
    height: 200px;
    width: 100%;
    border: 2px dashed #70f7b6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #70f7b6;
    display: none;
}

.overlay {
    position: fixed;
    width: 100%;
    background: rgb(0 0 0 / 80%);
    height: 100%;
    z-index: 100;
    padding: 40px;
    display: none;
}

.overlay .form {
    margin: 0 auto;
}

.table .ttitle {
    background: #0f0f0f;
    padding: 20px 30px;
    font-size: 25px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.table .thead {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 2px solid #292929;
    color: #6b6a6a;
}

.table .titem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 2px solid #292929;
}

.table .titem > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}

.down {
    color: #ca612e;
}

.up {
    color: #578a31;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
    width: 100%;
} 

.d-flex.between {
    justify-content: space-between;
}

.cpointer {
    cursor: pointer;
}

.alert {
    border: 1px solid #f34848;
    text-align: center;
    padding: 20px;
    background: #e8adad;
    border-radius: 12px;
    margin-bottom: 10px;
}

.alert p {
    color: #f34848!important;
}

.alert.info p {
    color: #2d52e5!important;
}

.alert.info {
    border-color:#2d52e5;
    background: #95abff;
}

.alert.suc {
    border-color: #69e069;
    background: #9eeb9e;
}

.alert.suc p{
    color: #0c9c0c!important;
}

.alert p{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 600px) {
    .nav img {
        height: 25px;
    }

    #cones {
        display: none;
    }

    main {
        padding: 20px;
    }

    .add1 {
        font-size: 35px;
    }

    h3 {
        font-size: 40px;
    }

    .m1 p {
        font-size: 20px;
    }

    .form {
        width: 95%;
        padding: 30px 20px;
    }

    .ftitle {
        font-size: 25px;
    }

    label {
        font-size: 14px;
    }

    input {
        font-size: 19px;
        padding: 10px 10px 10px 20px;
    }

    .form p {
        font-size: 16px;
    }

    button, .button {
        padding: 8px;
        font-size: 14px;
        min-width: 90px;
    }

    #balance {
        font-size: 50px;
    }

    #username {
        font-size: 20px;
    }

    #addr {
        font-size: 15px;
    }

    .overlay {
        padding: 10px;
    }
}